@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    --animate-fade-in-up: fade-in-up 0.5s ease-out forwards;

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

html,
body {
    scroll-behavior: smooth;
}